<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="certifications">
    <div class="my-auto" id="certifications-content">
        <h2 class="mb-5">Certifications</h2>
        {{ range .Site.Data.certifications }}
        <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto"style="list-style-type: none;">
                <li class="list-inline-item" >
                    <a href="{{ .proof }}" data-toggle="tooltip" title="{{ .name }}" data-offset="0 10" rel="me">
                        <img src="{{ .badge }}" width=75 />
                    </a>
                </li>
            </div>
        </div>
        {{ end }}
    </div>

</section>